{% include "header.html" %}

<body>
    <div class="container mt-5">
        <table class="table table-striped table-bordered ">
            <tbody>
                {% for i in file_list %}
                <tr>
                    <td>
                        {{i}}
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary" href="{{url_for('ImageQuiz')}}?name={{i}}">Click</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>