{% include "header.html" %}

<body>
    <div class="container mt-5">
        <div>
            <label>Set Max (Default is 10)</label>
            <input type="number" id="end">
            <button class="btn btn-primary" onclick="SetMax()">Set Max</button>
            <label id="currentMax"></label>
        </div>
        <div class="mt-5 mb-5">
            <label id="result"></label>
        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="GenerateNumber()">Random</button>
        </div>
    </div>
</body>

<script>

    var max = 10
    var already_ran = []

    function SetMax() {
        max = $('#end').val()
    }

    function GenerateNumber() {
        let ranNum = Math.floor(Math.random() * max)
        console.log(ranNum)
        $('#result').text(ranNum)
    }
</script>