{% include "header.html" %}

<body>
    <div class="container mt-5">
        <table class="table table-striped table-bordered table-bordered ">
            <tbody>
                <tr>
                    <td>
                        Feature Quiz
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{url_for('ListPage')}}">GO</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Image Hidden Quiz
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{url_for('ImagePage')}}">GO</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>